# Dataset

In [ ]:
import pandas as pd
pd.__version__

## Sources
- https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page
- https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv
- https://www1.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

In [2]:
# read the first 100 rows
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows = 100)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

# Set up connection between Jupyter notebook and Postgresql

In [4]:
# convert text type to datetime for columns containing date
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
# tell pandas we want to use the schema for sql
# 1. build a connection
from sqlalchemy import create_engine
engine = create_engine("postgresql://root:root@localhost:5431/ny_taxi")
# (type of db)://(username):(password)@localhost:(local port)/(dbname)

In [7]:
engine.connect()

Run `!pip install psycopg2-binary` if psycopg2 is not available to you

In [8]:
# 2. generate schema for connection
# convert df into Data Definition Language (DDL) which specifies schema in sql
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data", con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

# Put Dataset into Postgresql in chunks

## Demo the components

In [12]:
# 1. chunk data into manageable size
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator = True, chunksize = 100000)
# trick: do shift + tab to see function parameters
df_iter

In [13]:
# 2. make use of next to get next chunk
df = next(df_iter)
len(df)

100000

In [14]:
# 3. again correct the data type
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
df.head(n = 3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.1,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.2,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.7,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0

In [16]:
# lets start with table without data
df.head(n = 0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

## A. Make a table in database without data

In [17]:
# enter table without data into postgresql
df.head(n = 0).to_sql(name = "yellow_taxi_data", con = engine, if_exists = "replace") 
# if_exists checks if db has a table with the same name exists, if yes, replace with the new one

With this, you can observe an empty table in ny_taxi database using `pgcli -h localhost -p 5431 -u root -d ny_taxi`. Then `\dt` to list tables in database and `\d yellow_taxi_data;` to describe the table called yellow_taxi_data

## B. Insert one batch of data into dataset

In [18]:
%time df.to_sql(name = "yellow_taxi_data", con = engine, if_exists = "append") 
# if_exists checks if db has a table with the same name exists, if yes, append to it

Wall time: 12.2 s

By doing `SELECT count(1) FROM yellow_taxi_data;` on the same terminal, we can count number of rows currently in the database. Since we have inserted 100000 rows, the output should reflect the number!

## C. Insert all batches of data until no more is available

In [19]:
from time import time
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name = "yellow_taxi_data", con = engine, if_exists = "append")
    t_end = time()
    print("Inserted another chunk ..., took %.3f seconds"%(t_end - t_start))

Inserted another chunk ..., took 12.604 seconds
Inserted another chunk ..., took 12.096 seconds
Inserted another chunk ..., took 11.803 seconds
Inserted another chunk ..., took 11.845 seconds
Inserted another chunk ..., took 11.794 seconds
Inserted another chunk ..., took 11.405 seconds
Inserted another chunk ..., took 12.707 seconds
Inserted another chunk ..., took 11.726 seconds
Inserted another chunk ..., took 11.617 seconds
Inserted another chunk ..., took 11.818 seconds
Inserted another chunk ..., took 12.168 seconds

c:\users\20jam\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3337: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Inserted another chunk ..., took 12.470 seconds
Inserted another chunk ..., took 7.363 seconds

StopIteration:

While the code in the cell above run, do `SELECT count(1) FROM yellow_taxi_data;` to see the incrementing count of rows in the table. When there is no more data left to put into Postgresql table, code throws a StopIteration error.

Try running other more complicated commands on the full data table. For example:
- `SELECT MAX(tpep_pickup_datetime)`
- `MIN(tpep_pickup_datetime)`
- `MAX(total_amount) FROM yellow_taxi_data;`

fin